*{
    font-family: roboto, arial;
    margin: 0;
}
.thumbnail {
width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
.video-title{
   margin-top: 0;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   margin-bottom: 10px;
}
.video-author, .video-stat{
    display: block;
    font-size: 12px;
    color: rgb(96, 96,96);
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.profile-picture{
    width: 36px;
    border-radius: 50px
}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}
.video-author{
    margin-bottom: 4px;
}
.video-grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 15px;
row-gap: 40px;
}
@media (max-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
    body{
        width: 100%-72px;
    }
    .right-section{

    }
    .header{
       
    }
    .right-section{
       
    }

}
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(240, 240,240);
    z-index: 100 ;
}
.left-section{
    display: flex;
    align-items: center;
}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.right-section{
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.hamburger-menu{
    height: 25px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}
.search-button{
    width: 66px;
    height: 40px;
    background-color: rgb(240, 240,240);
    border-width: 1px;
    border-style: solid;
    border-color:rgb(192, 192,192);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
}
.search-button, .voice-button, .upload-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button .tooltip, .voice-button .tooltip, .upload-icon-container .tooltip{
    font-family: roboto,arial;
position: absolute;
background-color: gray;
color: white;
padding-left: 8px;
padding-right: 8px;
padding-top: 4px;
padding-bottom: 4px;
border-radius: 2px;
font-size: 12px;
bottom: -30px;
opacity: 0;
transition: opacity 0.15s;
pointer-events: none ;
white-space: nowrap;
} 
.search-button:hover .tooltip, .voice-button:hover .tooltip, .upload-icon-container:hover .tooltip{
    opacity: 1;
}
.voice-button{
   height: 40px ; 
   width: 40px;
   border-radius: 20px;
   border: none;
   background-color: rgb(248, 248,248);
}

.search-bar::placeholder{
    font-family: roboto;
    font-size: 16px;
}
.search-bar{
    flex: 1;
    height: 38px;
    padding-left: 10px;
    border: 1px solid rgb(192, 192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
    border-color:rgb(192, 192,192);
    width: 0;

} 
.search-icon{
    height: 25px;
    margin-top: 4px;
}
.voice-icon{
    height: 24px; 
     margin-top: 4px;
}
.upload-icon{
    height: 24px;
}
.youtube-icon{
    height: 24px;
}
.notification-icon{
    height: 24px;
}
.notification-icon-container{
    position: relative;
}
.notification-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-family: roboto, arial;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;

}

.current-user-picture{
    height: 32px;
    border-radius: 16px;
}
body{
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248, 248,248);
}
.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(235, 235,235);
}
.sidebar-link img{
height: 24px;
margin-bottom: 4px;
}
.sidebar-link div{
    font-family: roboto, arial;
    font-size: 10px;
}
.video-time{
    font-family: roboto;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}